<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Déclaration du PropertyPlaceholderConfigurer -->
	<!-- Bean PPC -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations">
		<list>
			<value>classpath:/com/objis/spring/demodatabase/dao/db.properties</value>
		</list>
	</property>
	</bean>
	
	<!-- Bean Datasource -->
	<bean id="datasource1" class= "org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
		<property name="username" value="Lise"/>
		<property name="password" value="lise"/>
	</bean>
	
	<bean id="datasource2" class= "org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>

	<bean id="employeDao" class="com.objis.spring.demodatabase.dao.EmployeDao">
		<property name="dataSource" ref="datasource2">
		</property>
	</bean>
	
</beans>
